/* 
** All Style for 3rd Plugin 
*/

.vc_row-full-width.vc_clearfix:before, .vc_row-full-width.vc_clearfix:after{
	display: none;
}

/* Custom Style for REV SLIDER */
	/* Navigation Arrow */
	.tparrows {
		&.default {
			background: transparent;
			width: 50px;
			height: 50px;
			> div {
				display: none;
			}
			&:before{
				font-family: 'Pe-icon-7-stroke';
				width: 50px;
				height: 50px;
				line-height: 50px;
				font-size: 30px;
				text-align: center;
				color: #222;
				background: rgba(255,255,255,0.6);
				display: block;
				@include transition();			
			}
			&.tp-leftarrow{
				&:before{
					content: "\e686";
				}
			}
			&.tp-rightarrow{
				&:before{
					content: "\e684";
				}
			}
			/* Hover */
			&:hover{
				background: transparent;
				&:before{
					background: rgba(255,255,255,0.8);
				}
			}
		}
	}

	/* navigation bullet */
	.tp-bullets{
		&.simplebullets{
			&.round{
				.bullet{
					width: 10px;
					height: 10px;
					background: #aba8a8;
					margin:0 10px 0 0;
					@include css3-prefix('border-radius','50%');
					&.selected{
						background: $white;
					}
					&:last-child{
						margin-right: 0;
					}
				}
			}
		}
	}
/* Custom style for Contact form 7 */
.wpcf7{
	.home20-form{
		.wpcf7-text,
		.wpcf7-textarea{
			border-color: $white;
			background-color: transparent;
			color: $white;
			max-height: 145px;
		}
	}
}