
/* Footer */
footer#footer-wrapper{
	/* 
		* Overlay background
		* Since 1.0.3
	*/
	.footer-wrapper-inner{
		position: relative;;
			&:before{
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
	}

	/* Footer TOP */
	#cms-footer-top{
	  position: relative;
	  > .container{
	    padding-bottom: 30px;
	    position: relative;
	    &:after{	
	    	position: absolute;
	    	bottom: 0;
	    	top: auto;
	    	right: 15px;
	    	left: 15px;
	    	display: block;
	    }
	    aside{
	      &.widget{
	        .widget-title,
	        .wg-title{
	          margin-bottom: 15px;
	        }
	        ul{
	          li{
	            padding: 0;
	            a{
	              &:hover{
	                color: $primary_color;
	              }
	            }
	          }
	        }
	      }
	    }
	  }
	}
	/* Footer Bottom */
	#cms-footer-bottom{
		.cms-social-sc{
			a{
				margin-right: 5px;
				text-decoration: none; 
				display: inline-block; 
				text-align: center; 
				width: 45px; 
				height: 45px; 
				line-height: 45px; 
				font-size: 20px;
				background: #202020; 
				color: $white; 
				@include border-radius(50%);
				@include transition(all 300ms linear 0ms);
				&:last-child{ margin-right: 0;}

				&:before{ width: 45px; height: 45px; line-height: 45px; font-size: 20px;}

				&:hover,
				&:focus{
				  text-decoration: none; 
				  background: #b46d70;
				  &:before{ color: #fff;}
				}
			}
		}
		&.layout-1{
			text-align: center;
			font-size: 16px;
			.footer-social {
				background: #2d2d2d;
				padding: 40px 0;
				.cms-social-sc{
					a{
						background: $white;
						color: #1f1f1f;
						&:hover,
						&:focus{
							background: $primary_color;
							color: $white;
						}
					}
				}
			}
			> .container{
				padding-top: 75px;
				.footer-address{
					padding-bottom: 40px;
				}
				.footer-copyright{
					color: #555555;
				}
			}
			&.layout-13{
				.footer-social{
					background: #111;
				}
			}
		}
		&.layout-2{
			font-size: 12px;
			.footer-copyright{
				text-transform: uppercase;
			}
			.footer-social{
				text-align: right;
				a{
					text-transform: uppercase;
					color: $footer_color;
					&:hover{
						color: $link_color;
					}
					&:after{
						display: inline-block;
						content: "/";
						padding: 0 0 0 5px;
						color: $footer_color;
					}
					&:last-child{
						&:after{display: none;}
					}
				}
			}
		}

		&.layout-3{
			font-size: 12px;
			.footer-copyright{
				text-transform: uppercase;
				text-align: right;
			}
			.footer-social{
				text-align: left;
				a{
					text-transform: uppercase;
					font-size: 20px;
					margin-right: 15px;
					&:hover{
						color: $link_color;
					}
					&:last-child{
						margin-right: 0;
					}
				}
			}
		}

		&.layout-4{
			font-size: 15px;
			color: $white;
			> .container{
				padding-bottom: 70px;
				text-align: center;
				.footer-address {
					margin-bottom: 25px;
				}
				.footer-social{
					a{
						text-transform: uppercase;
						color: $footer_color;
						font-size: 20px;
						margin-right: 15px;
						&:hover{
							color: $link_color;
						}
						&:last-child{
							margin-right: 0;
						}
					}
				}
			}
			.footer-copyright{
				font-size: 12px;
				color: #888888;
				text-transform: uppercase;
				text-align: center;
				padding: 40px 0 0 0;
				border-top: 1px solid #333;
			}
		}

		&.layout-5{
			font-size: 12px;
			color: $footer5_color;
			.footer-copyright{
				text-transform: uppercase;
				text-align: right;
			}
			.footer-social{
				text-align: left;
				a{
					text-transform: uppercase;
					color: $footer5_title_color;
					font-size: 20px;
					margin-right: 15px;
					&:hover{
						color: $link_color;
					}
					&:last-child{
						margin-right: 0;
					}
				}
			}
		}
		&.layout-6{
			font-size: 12px;
			color: $footer6_color;
			.footer-copyright{
				text-transform: uppercase;
				text-align: left;
			}
			.footer-social{
				text-align: right;
				a{
					text-transform: uppercase;
					color: $footer6_color;
					font-size: 20px;
					margin-right: 15px;
					&:hover{
						color: $link_color;
					}
					&:last-child{
						margin-right: 0;
					}
				}
			}
		}
		&.layout-7{
			font-size: 12px;
			color: $footer7_color;
			.footer-copyright-wrapper{
				background: $footer7_copyright_bgcolor;
				padding: 65px 0;
				.footer-copyright{
					text-transform: uppercase;
					text-align: left;
					.footer-copyright-logo{
						margin-bottom: 30px;
					}
				}
			}
			
			.footer-social{
				text-align: right;
				padding-top: 20px;
				a{
					text-transform: uppercase;
					color: $footer7_color;
					font-size: 20px;
					margin-right: 15px;
					&:hover{
						color: $link_color;
					}
					&:last-child{
						margin-right: 0;
					}
				}
			}
		}
		&.layout-8{
			.footer-social{
				.cms-social{
					padding-bottom: 10px;
					a{
						margin-right: 15px;
						&:hover{
							color: $primary_color;
						}
						&:last-child{
							margin-right: 0;
						}
					}
				}
			}
		}
	}
	/* Special style */
	&.footer-bottom-layout-5{
		/* Footer TOP */
		#cms-footer-top{
		  	color: $footer5_color;
		  	&:before{
		  		content:"";
		  		border-top: 1px solid $footer5_border_color;
		  		position: absolute;
		  		top: 0;
		  		left: 15px;
		  		right: 15px;
		  	}
		  	> .container{
			    &:after{	
			    	border-bottom-color: $footer5_border_color;
			    }
			    aside{
			    	&.widget{
			    		.wg-title{
							color: $footer5_title_color;
						}
						ul li a{
							color: $link_color_hover;
							&:hover{
								color: $link_color;
							}
						}
			    	}
				}
			}
		}
	}
	&.footer-bottom-layout-8{
		border-top: $main_border;
	}
}

body{
	&.home{
		#footer-wrapper{
			margin-top: 0;
		}
	}
	&.cms-header-v1:not(.page-template-default){
		#cms-content-wrapper{
			padding-bottom: 100px;
		}
	}
}