html{
  body{
    @media (max-width: 991px){
      padding-left: 0 !important;
      padding-right: 0 !important; /* Remove padding style from theme options */
    }
    #cms-page{
      overflow-x: hidden;
      position: relative;
      @media(min-width: 992px){
        &.header-v1{
          &.header-left{
            padding-left: $header_width;
          }
          &.header-right{
            padding-right: $header_width;
          }

          #cms-content-wrapper{
            &:not(.home){
              padding-top: 80px; 
            }
            .single-portfolio{
              padding-top: 20px;
            }
          }
        }
      }
    }
    /* Overlay Style */
    @include overlay-style();
  }
  /* Some custom style for Page */
  &.home{
    .navigation{
      margin-bottom: 100px;
    }
  }
  
  /* Special style for Full Page Effect */
  &.fp-enabled{
    body{
      &:before,
      &:after{
        content: "";
        position: absolute;
        width: 100%;
        height: 50px;
        background: #fff;
        z-index: 1051;
        display: block;
      }
      &:before{
        top: 0;
      }
      &:after{
        bottom: 0;
      }
      #cms-page{
        /* position: absolute;
        top: 50px;
        right: 50px;
        bottom: 50px;
        left: 50px;
        overflow: hidden;
        */
      }
      #fp-nav{
        margin-top: 0 !important;
        left: 40px;
        //z-index: 1060;
        @include vertical-align('fixed');

        ul{
          padding: 0;
          margin: 0;
          list-style: none;
          li{
            display: block;
            margin-bottom: 10px;
            &:last-child{ margin-bottom: 0;}
            a{
              width: 10px;
              height: 10px;
              display: block;
              border: 1px solid #ddd;
              @include css3-prefix('border-radius','50%');

              &:hover,
              &:active,
              &:focus,
              &.active{
                border-color: #222;
              }
            }
          }
        }

        @media( max-width: 767px){
          left: 25px;
        }
      }
      .fsp-wrapper .single-portfolio.hidden{ display: block;}
    }
  }
}

/* Custom color */
.color-white{ 
  color: $white !important;
  h1, .h1, h2, .h2, h3, .h3, h4, .h4, h4, .h5, h6, .h6, *{ color: $white !important; }
}

/* Blog & Post Navigation */
.navigation{
  text-align: center;
  /* Page Navigation */
  &.paging-navigation{
    text-align: center;
    .pagination{
      margin-bottom: 0;
    }
    .page-numbers{
      line-height: 38px;
      padding: 0 15px;
      display: inline-block;
      margin-right: 10px;
      min-width: 38px;
      text-align: center;
      border: $main_border;
      color: $primary_color;
      float: left;
      i{
        line-height: 38px;
        height: 38px;
        display: block;
        font-size: 22px;
      }
      &:last-child{ margin-right: 0;}
      &.current,
      &:hover{
        background: $primary_color;
        border-color: $primary_color;
        color: $white;
      }

      &.next,
      &.prev{
        width: 40px;
        padding: 0;
      }
    }
  }
  /* Page Navigation Layout 2*/
  &.cms-paging-navigation2{
    a{
      text-transform: uppercase;
    }
    i{
      padding: 0 5px;
    }
  }
}

/* Page Style */
.cms-social-sc{
  a{
    margin-right: 5px;
    text-decoration: none; 
    display: inline-block; 
    text-align: center; 
    font-size: 0;
    @include transition(all 300ms linear 0ms);
    &:last-child{ margin-right: 0;}

    i{ 
      width: 45px; 
      height: 45px; 
      line-height: 45px; 
      font-size: 20px;
      display: inline-block; 
      background: #202020; 
      color: $white; 
      @include transition(all 300ms linear 0ms);
      @include border-radius(50%);

      &:before{ width: 45px; height: 45px; line-height: 45px; font-size: 20px;}
    }

    &:hover,
    &:focus{
      text-decoration: none; 
      i{ background: #b46d70; color: #fff;}
    }
  }
}

/* Set default color for something */
.primary-color{
  color: $primary_color;
  *{
    color: $primary_color;
  }
}

/* Back to TOP */
#back_to_top{
  position: fixed;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
  display: none;
  &.on{
    display: block;
  }
}
