@media screen and (min-width: 1200px) {
  body .cs-boxed {
    margin: auto;
    width: 1200px;
  }
}

@media (max-width: 991px){
	[class*="col-md"],
	[class^="col-md"]{
		&.pull-left,
		&.pull-right{
			float: none;
		}
	}
}

@media(max-width: 767px){
	.no-container{
		//padding-left: 15px;
		//padding-right: 15px;
	}
	/* Manage logo */
		#cms-header-logo {
			width:35%;
	}	
	#cms-content-wrapper{
		padding-left: 0 !important;
		padding-right: 0 !important;



		/* add space between each columns */
		[class*='col-'],
		[class^='col-']{
			+ [class*='col-'],
			  [class^='col-']{
			  	margin-top: 30px;
			  }
		}
	}
}