$white: 		#ffffff;
$black:			#000000;
$light_black:	#212121;
$lightgray: 	#eee;

$darken_primary: darken($primary_color, 20%);

$title_color: 	#1f1f1f;

$border_color: #eeeeee;
$main_border: 1px solid #eeeeee;
$meta_color: 	#888;

$bodyFont:		'proxima_nova_ltlight';
$fontAwesome :  'FontAwesome';
$FontAwesome:	'FontAwesome';
$FontPe7:		'Pe-icon-7-stroke';
/**
 * image fit 
 * @since 1.6.0
 * @author Chinh Duong Manh
*/
@mixin image-fit($variation : cover){
	height: 100%;
	width: 100%;
	object-fit: $variation;
	-o-object-fit: $variation;
	-moz-object-fit: $variation;
	-ms-filter-object-fit: $variation;
	-webkit-object-fit: $variation;
}
/**
 * overlay position 
 * @since 1.6.0
 * @author Chinh Duong Manh 
*/
@mixin overlay-pos($position : absolute){
	position: $position;
	top: 10px;
	right: 10px;
	bottom: 10px;
	left: 10px;
}

/**
 * Vertical Align 
 * @since 1.6.0
 * @author Chinh Duong Manh
*/
@mixin vertical-align($position : absolute){
	top: 50%;
	width: 100%;
	position: #{$position};
	@include css3-prefix('transform', 'translateY(-50%)');
}
/**
 * Horizontal Align 
 * @since 1.6.0
 * @author Chinh Duong Manh
*/
@mixin horizontal-align($position : absolute){
	left: 50%;
	position: #{$position};
	@include css3-prefix('transform', 'translateX(-50%)');
}
/**
 * Center Align 
 * @since 1.6.0
 * @author Chinh Duong Manh
*/
@mixin center-align($position : absolute){
	top: 50%;
	left: 50%;
	position: #{$position};
	@include css3-prefix('transform', 'translate(-50%,-50%)');
}
/* Overlay Style */
@mixin overlay-style{
	.overlay{
		position: absolute;
		top: 0; 
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(255,255,255,0.8);
		@include transition(all 150ms linear 0ms);
		.overlay-content{
			width: 100%;
			padding: 15px;
			position: absolute;
			top: 50%;
			@include css3-prefix('transform','translateY(-50%)');
			a{
				color: $light_black;
				&.icon{
					width: 50px;
					height: 50px;
					line-height: 50px;
					font-size: 16px;
					display: inline-block;
					margin: 0 10px 0 0;
					background-color: $primary_color;
					color: $white;

					&:hover{
						background-color: $secondary_color;
					}

					&.circle,
					&.icon-circle{
						@include css3-prefix('border-radius','50%');
					}

					&:last-child{ margin-right: 0;}
				}
			}
		}
	}
	.overlay-wrap{
		overflow: hidden;
		position: relative;
		.overlay{
			visibility: hidden;
			@include opacity(0);
			@include css3-prefix('transform','scale(1.1)');
			@include transition(all 150ms linear 0ms);
		}
		&:hover{
			.overlay{
				visibility: visible;
				@include opacity(1);
				@include css3-prefix('transform','scale(1)');
				@include transition(all 150ms linear 0ms);
			}
		}
	}
}
/* Heading style */
 @mixin heading(){
 	padding: 0;
 	margin: 0;
 	text-transform: uppercase;
	@include transition();
	&:hover{
		color: $primary_color;
		a{
			color: $primary_color;
		}
	}
	a{
		&:hover{
			color: $primary_color;
		}
	}
 }

 /* Vertical Align */
 @mixin vertical-align($position){
 	top: 50%;
 	position: #{$position};
 	@include css3-prefix('transform', 'translateY(-50%)');
 }

/* Header */
	/* Default Header 
	* This variation since V1.0.3
	*/
	/* Default Header  */
	$menuFontsize:	   $menu_first_level_typography_font_size;
	$menuColor: 	   $menu_first_level_color;
	$menuColorHover:   $menu_first_level_color_hover;
	$menuColorActive:  $menu_first_level_color_active;
	
	/* Fixed Header */
	$menuFixedColor: 					$menu_first_level_color;
	$menuFixedColorHover: 				$menu_first_level_color_hover;
	$menuFixedColorActive: 				$menu_first_level_color_active;
	$menuFixedColorVisited: 			$menu_first_level_color_visited;

	/* Sticky Header */
	$header_sticky_menuColor: 			$sticky_menu_first_level_color;
	$header_sticky_menuColorHover:   	$sticky_menu_first_level_color_hover;
	$header_sticky_menuColorActive:  	$sticky_menu_first_level_color_active;
	$header_sticky_menuColorVisited:  	$sticky_menu_first_level_color_visited;
	$header_sticky_border:				1px solid #eee;

	/* Dropdown Menu */
	$dropdownFontsize:		$menu_dropdown_typography_font_size;
	$dropdownBG:	   		$menu_dropdown_background_color;
	$dropdownBGHover: 		$menu_dropdown_hover_background;
	$dropdownBGActive: 		$menu_dropdown_hover_background;
	$dropdownWidth:			250px;
	$dropdownColor:	   		$menu_dropdown_color;
	$dropdownColorHover:	$menu_dropdown_color_hover;
	$dropdownColorActive:	$menu_dropdown_color_active;

	/* Mobile Menu */
	$dropdownBGDevice : 			$menu_mobile_background_color;
	$dropdownBGDeviceHover: 		$menu_mobile_hover_background_color;
	$dropdownBGDeviceActive: 		$menu_mobile_hover_background_color;
	$dropdownDeviceColor:	   		$menu_mobile_color;
	$dropdownDeviceColorHover:		$menu_mobile_color_hover;
	$dropdownDeviceColorActive:		$menu_mobile_color_active;

	/* Mobile Widget */
	$WidgetDeviceColor:				$menu_mobile_color;
	$WidgetDeviceColorHover:		$menu_mobile_color_hover;
	$WidgetDeviceColorActive:		$menu_mobile_color_active;

	/* Header v4 */
	$menu4FontSize:					48px;
	$menu4Color:					#fff;
	$menu4ColorHover:				$menu4Color;
	$menu4ColorActive:				$menu4Color;
	$menu4L2FontSize:				15px;
	$menu4L2Color:					#fff;
	$menu4L2ColorHover:				$menu4Color;
	$menu4L2ColorActive:			$menu4Color;


/* Footer */
$footer_color: 		#FFF;

	/* Special style for each footer bottom layout*/

	/* Layout 5 */
	$footer5_color:				#878787;
	$footer5_title_color:		#1f1f1f;
	$footer5_link_color:		#878787;
	$footer5_border_color:		#eeeeee;

	/* Layout 6 */
	$footer6_color:				#555;
	$footer6_title_color:		#555;
	$footer6_link_color:		#555;
	$footer6_border_color:		#555;

	/* Layout 7 */
	$footer7_color:					#aaa;
	$footer7_title_color:			#aaa;
	$footer7_link_color:			#aaa;
	$footer7_border_color:			#aaa;
	$footer7_copyright_bgcolor:		#f8f8f8;

/* Responsive Size */
$sm-screen : 	1200px;
$screen-lg-min: 1600px;

$screen-md-min:	992px;
$screen-md-max:	1599px;

$screen-sm-max: 991px;
$screen-sm-min: 768px;

$screen-xs-max: 767px;

$screen-xxs-max :  480px;

