/* Style for all widget */
aside{
	&.widget {
		.widget-title,
		.wg-title{
			margin-bottom: 25px;
			font-style: normal;
		}
		/* Widget Search */
		&.widget_search{
		}
		/* Widget Tags Cloud */
		&.widget_tag_cloud{
			.tagcloud{
				a{
					padding: 0 12px;
					border: $main_border;
					line-height: 34px;
					display: inline-block;
					text-transform: capitalize;
					margin: 0 0 5px;
					font-size: 14px !important;
					color: $link_color_hover;
					&:hover{
						border-color: $primary_color;
						background: $primary_color;
						color: $white;
					}
				}
			}
		}
		/* Widget Calendar */
		&.widget_calendar{
			#wp-calendar{
				tfoot{
					td{
						&#next{
							text-align: right;
						}
					}
				}
			}
			@media (min-width: 768px) and (max-width: 992px) {
				#wp-calendar{
					tbody{
						tr{
							td{
								padding: 6px 6px 6px 0;
							}
						}
					}
				}
			}
		}
		/* Widget Newsletter */
		&.widget_newsletterwidget{
			background: #f8f8f8;
			padding: 40px 50px !important;
			font-size: 16px;
			form{
				margin-top: 40px;
				input{
					font-style: normal;
					font-size: 15px;
					&[type='email']{
						width: 100%;
					}
				}
			}
		}
		/* List Style */
		ul, ol{
			li {
				padding: 3px 0;
				a{
					color: $link_color_hover;
					&:hover,
					&:active,
					&.active{
						color: $link_color;
					}
				}
			}
		}
		ul{
			list-style: inside none;
		}
		ol{
			list-style: inside decimal;
		}

		/* Style for all WooCommerce Widget */
		&.woocommerce{
			/* Search */
			&.widget_product_search{
				form{
					&.woocommerce-product-search{
						position: relative;
						&:after{
							font-family: $fontAwesome;
							content: '\f002';
							font-size: 16px;
							position: absolute;
							right: 15px;
							top: 12px;
						}
						.screen-reader-text{ display: none;}
						input{
							&[type='submit']{
								background: transparent;
								border: 0 !important;
								font-size: 0;
								text-indent: -10000px;
								width: 50px;
								height: 50px;
								position: absolute;
								top: 0;
								right: 0;
								cursor: pointer;
								z-index: 1;
							}
						}
					}
				}
			}
			/* Price Fillter */
			&.widget_price_filter{
				.ui-slider-horizontal{
					height: 8px;
					background-color: #f7f7f7;
					margin-bottom: 22px;
					.ui-slider-range{
						background-color: #f7f7f7;
						@include css3-prefix('border-radius','0');
					}
					.ui-slider-handle{
						width: 8px;
						height: 12px;
						background-color: $primary_color;
						top: -2px;
						@include css3-prefix('border-radius','0');
					}
				}
				.price_slider_amount{
					text-align: left;
					font-size: 15px;
					line-height: 24px;
					button{
						&.button{
							float: right;
							line-height: 38px;
							height: 40px;
							color: $primary_color;
							font-size: 14px;
							font-weight: 600;
							border: 1px solid $primary_color;
							background-color: $white;
							padding: 0 25px;
							text-transform: uppercase;
							letter-spacing: 2px;
							@include css3-prefix('border-radius','0');

							&:hover{
								color: $white;
								background-color: $primary_color;
							}
						}
					}
					.price_label{
						padding-top: 7px;
					}
				}
			}
			/* Product Tags Cloud */
			&.widget_product_tag_cloud{
				.tagcloud{
					a{
						padding: 0 12px;
						border: $main_border;
						line-height: 34px;
						display: inline-block;
						text-transform: capitalize;
						margin: 0 0 5px;
						font-size: 14px !important;
						color: $link_hover;
						&:hover{
							border-color: $primary_color;
							background: $primary_color;
							color: $white;
						}
					}
				}
			}
			/* List product */
			ul{
				&.product_list_widget,
				&.cart_list{
					li{
						img{
							float: left;
							width: 60px;
							margin:0 12px 0 0;
						}
						> a{
							font-size: 14px;
							text-transform: uppercase;
							color: $title_color;
							padding-bottom: 6px;
						}
						.star-rating{
							margin-bottom: 7px;
						}
						del{
							color: #999;
							font-size: 15px;
							+ ins{ margin-left: 10px;}
						}
						ins{
							color: $primary_color;
							text-decoration: none;
							font-size: 15px;
						}
						+ li{
							margin-top: 4px;
						}
					}
				}
			}
		}
		/* Widget RSS */
		&.widget_rss{
			ul{
				li{
					a{
						color: $link_color;
					}
					.rss-date{
						font-weight: 700;
						font-style: italic;
					}
				}
			}
		}

		/* Widget Newsletter */
		&.widget_newsletterwidget{
			background: #f8f8f8;
			padding: 40px 50px !important;
			font-size: 16px;
			form{
				margin-top: 40px;
				input{
					font-style: normal;
					font-size: 15px;
					&[type='email']{
						width: 100%;
						font-family: $bodyFont;
					}
				}
			}
		}
	}
}

/* Search form style */
form{
	&.searchform{
		position: relative;
		&:after{
			font-family: $fontAwesome;
			content: '\f002';
			font-size: 16px;
			position: absolute;
			right: 15px;
			top: 12px;
		}
		.screen-reader-text{ display: none;}
		input{
			&[type='text']{
				padding-right: 60px;
			}
			&#searchsubmit{
				background: transparent;
				border: 0 !important;
				font-size: 0;
				text-indent: -10000px;
				width: 50px;
				height: 50px;
				position: absolute;
				top: 0;
				right: 0;
				cursor: pointer;
				z-index: 1;
			}
		}
	}
}
