@import "options.scss";
@import "mixins.scss";
@import "variations.scss";
/* All style WooCommerce */
.cms-archive-product{
	&.no-page-title{
		margin-top: 50px;
	}
}
/* Archive page */
.woocommerce {
	ul.products{
		margin-left: -30px;
		li.product{
			float: left;
			margin: 0;
			width: 33.3333%;
			@media (max-width: 480px){
				width: 100% !important;
			}
			.product-item-wrap{
				margin-left: 30px;
				margin-bottom: 50px;
				.product-item-media{
					position: relative;
					img{
						width: 100%;
					}
				}
				span.onsale{
					top: 0;
					right: 0;
					bottom: auto;
					left: auto;
					min-height: 0;
					min-width: 0;
					line-height: 50px;
					padding: 0 10px;
					font-weight: 400;
					font-size: 13px;
					text-transform: uppercase;
					color: $white;
					background: $primary_color;
					@include css3-prefix('border-radius','0');
				}
				.overlay{
					background-color: rgba(255,255,255,0.9);
					.overlay-content{
						.button{
							color: $primary_color;
							position: relative;
							display: inline-block;
							&:hover{
								color: $white;
							}
							&:after{
								display: none;
							}
							&:before{
								font-family: $fontAwesome;
								position: absolute;
								left: 20px;
								top: 0px;
							}

							&.loading{
								padding-left: 40px;
								&:before{
									content: "\f110";
								}
							}
							&.added{
								padding-left: 40px;
								&:before{
									content: "\f046";
								}
							}

							+ .added_to_cart {
								margin-top: 15px;
								padding-top: 0;
								color: $primary_color;
								&:hover{
									color: $white;
								}
							}
						}
					}
				}

				.product-item-info{
					margin-top: 20px;
					.star-rating{
						margin: 8px auto 0;
						float: none;
					}

					.price{
						display: block;
						margin-top: 10px;
						color: $primary_color;
						del {
							color: #999999;
							+ ins{ margin-left: 10px;}
						}
						ins{
							text-decoration: none;
						}
					}
				}
			}
			&.first{
				clear: left;
			}
		}
	}
	&.columns-2{
		ul.products{
			li.product{
				width: 50%;
				&:nth-child(n+3){
					clear: left;
				}
				@media (max-width: $screen-sm-max){
					width: 100%;
				}
			}
		}
	}
	&.columns-3{
		ul.products{
			li.product{
				width: 33.3333%;
				@media (max-width: $screen-sm-max){
					width: 50%;
					&.first{
						clear: none;
					}
					&:nth-child(n+3){
						clear: left;
					}
				}
			}
		}
	}
	&.columns-4{
		ul.products{
			li.product{
				width: 25%;
				@media (max-width: $screen-sm-max){
					width: 50%;
					&.first{
						clear: none;
					}
					&:nth-child(n+3){
						clear: left;
					}
				}
			}
		}	
	}
	&.columns-5{
		ul.products{
			li.product{
				width: 20%;
				@media (max-width: $screen-sm-max){
					width: 50%;
					&.first{
						clear: none;
					}
					&:nth-child(n+3){
						clear: left;
					}
				}
			}
		}	
	}
	&.columns-6{
		ul.products{
			li.product{
				width: 16.666666%;
				@media (max-width: $screen-sm-max){
					width: 50%;
					&.first{
						clear: none;
					}
					&:nth-child(n+3){
						clear: left;
					}
				}
			}
		}	
	}
		
	.woocommerce-message{
		border-top-color: $primary_color;
		&:before{
			color: $primary_color;
		}
	}
}

/* Single Product */
.single-product {
	.cms-product-detail{
		&.no-page-title{
			margin-top: 50px;
		}
	}
	div.product{
		span.onsale{
			top: 0;
			right: 15px;
			bottom: auto;
			left: auto;
			min-height: 0;
			min-width: 0;
			line-height: 50px;
			padding: 0 10px;
			font-weight: 400;
			font-size: 13px;
			text-transform: uppercase;
			color: $white;
			background: $primary_color;
			@include css3-prefix('border-radius','0');
		}
		.entry-summary{
			.woocommerce-product-rating{
				margin: 15px 0 0 0;
			}
			.offers{ 
				margin: 18px 0 0 0;
				font-size: 18px;
				color: $primary_color;
				del{
					color: #999999;
					+ ins{ margin-left: 10px;}
				}
				ins{
					color: $primary_color;
					text-decoration: none;
				}
			}
			.description{
				margin-top: 30px;
			}
			form.cart{
				margin: 40px 0 35px;
				.quantity{
					.qty{
						width: 70px;
						margin: 0  10px 0 0;
					}
				}
				&.variations_form{
					span.price{
						display: block;
						margin-bottom: 30px;
						color: $primary_color;

						del{
							display: inline-block;
							color: #999;
							@include opacity(1);

							+ ins{ margin-left: 10px;}
						}
						ins{
							display: inline-block;
							text-decoration: none;
						}
					}
				}
			}
			.product_meta{
				border-top:$main_border;
				> span{
					display:block;
					border-bottom:$main_border;
					padding: 15px 0;
					color: $title_color;

					a{
						color: $link_color_hover;
						font-size: 14px;
						text-transform: capitalize;
						&:hover{
							color: $link_color;
						}
					}
				}
			}
		}
		.woocommerce-tabs{
			margin-top: 40px;
			ul{
				&.tabs{
					padding: 0 0 15px 0;
					margin: 0 0 20px 0;
					border-bottom: $main_border;
					&:before{
						display: none !important;
					}
					li{
						border-style: solid;
						border-width: 0 1px 0 0;
						border-color: #eee;
						background-color: transparent;
						padding: 0 15px 0 0;
						margin: 0 15px 0 0;
						position: relative;
						@include css3-prefix('border-radius','0');

						&:before,
						&:after{
							display: none;
						}

						&.active,
						&:hover{
							border-bottom: 0;
							background-color: transparent;
							a{
								color: $link_color;
							}
						}
						&:last-child{
							padding: 0;
							margin: 0;
							border: 0;
						}

						a{
							text-transform: uppercase;
						}
					}
				}
			}

			.panel {
				margin-bottom: 50px;
				@include css3-prefix('box-shadow',' 0 0 0 transparent');

				#reviews{
					#comments{
						> h2{
							margin-bottom: 30px;
						}

					}
					#review_form_wrapper{
						#review_form{
							#respond{
								input#submit{
									letter-spacing: 2px;
									font-weight: 600;
									text-transform: uppercase;
									height: 50px;
									line-height: 50px;
									padding: 0 20px;
									text-indent: 0;
									border: 1px solid $primary_color;
									color: $primary_color;
									background: transparent;
									@include css3-prefix('border-radius','0');

									&:hover,
									&:active,
									&:focus{
										background: $primary_color;
										border-color: $primary_color;
										color: $white;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
.related,
.upsells,
.cross-sells{
	> h2{
		margin-bottom: 30px;
	}
}
/**
 * Product Images 
 * @since 1.6.0
 * @author Chinh Duong Manh
*/
.woocommerce-product-gallery{
	position: relative;
	margin-bottom: 30px;
	img{
		width: 100%;
	}
	.woocommerce-product-gallery__wrapper,
	.flex-control-nav{
		margin: -5px;
		box-sizing: border-box;
	    display: flex;
	    -webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	}
	.woocommerce-product-gallery__image a,
	.flex-control-nav li{
		padding: 5px;
	}
	.woocommerce-product-gallery__image:nth-child(1){
		width: 100%;
		display: block;
	}
	.woocommerce-product-gallery__image:nth-child(n+2),
	.flex-control-nav li{
		display: inline-block;
		vertical-align: top;
		width: calc(20%);
		-webkit-box-align: stretch;
	    -webkit-align-items: stretch;
	    -ms-flex-align: stretch;
	    align-items: stretch;
	    display: flex;

		img{
			@include image-fit();
		}
		@media (max-width: $screen-xxs-max){
			width: calc(50% - 10px);
		}
	}
	
	/* Gallery Zoom */
	.woocommerce-product-gallery__trigger{
		position: absolute;
		top: 10px;
		right: 10px;
		z-index: 1;
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		background: $accent_color;
		img{
			display: none !important;
		}
		&:before{
			color: $white;
			content: "\f00e";
			font-family: $FontAwesome;
			font-size: 20px;
			background: transparent;
			visibility: visible;
			@include opacity(1);
			position: static;
		}
		&:after{
			display: none;
		}
	}
	.flex-viewport{
		.onsale{
			left: 10px;
			right: auto;
		}
		+ .flex-control-nav{
			margin-top: 5px;
		}
	}
	@media (min-width: $screen-md-min){
		float: left;
		width: calc(50% - 20px);
	}
	a:not(.woocommerce-product-gallery__trigger){
		position: relative;
		display: block;
		&:before,
		&:after{
			display: block;
			visibility: hidden;
			@include opacity(0);
			@include transition();
		}
		&:before{
			content: "";
			background: rgba($primary_color, 0.8);
			position: absolute;
			top: 5px;
			right: 5px;
			bottom: 5px;
			left: 5px;
		}
		&:after{
			@include center-align();
			color: $white;
			content: "\f00e";
			font-family: $FontAwesome;
			font-size: 40px;
		}
		&:hover{
			&:before,
			&:after{
				visibility: visible;
				@include opacity(1);
			}
		}
	}
}


.woocommerce-page{
	/* Cart Page */
	&.woocommerce-cart{
		table.cart{
			border: none;
			thead{
				background-color: #eeeeee;
			}
			tbody{
				td{
					padding: 10px 12px;
					&.actions{
						padding: 20px 0;

						.cms-proceed-to-checkout{
							margin-left: 5px;
						}
						input[name="coupon_code"]{
							@media (min-width: 768px){
								min-width: 270px;
							}
						}
					}
					a.remove{
						color: $primary_color !important;
						&:hover{
							background-color: $primary_color;
							color: $white !important;
						}
					}
				}
				img{
					width: 60px;
				}
				.quantity{
					.qty{
						width: 70px;
						color: $primary_color;
					}
				}
				.product-price,
				.product-subtotal{
					color: $title_color;
				}
			}
		}
		.cart-collaterals{
			margin-top: 45px;

			.cms-woo-shipping-wrapper{
				.woo-cart-title{
					margin-bottom: 15px;
				}
				.cms-woo-shipping {
					#update-total{
						margin-top: 20px;
					}
				}
				.cms-cart-totals{
					tr{
						&:last-child{
							border-bottom: $main_border;
						}
						td{
							+ td{
								text-align: right;
							}
						}
					}
				}
			}
		}
	}

	/* Check out page */
	&.woocommerce-checkout{
		.woocommerce-info{
			&:before{
				display: none;
			}
			padding: 0 !important;
			margin: 0 0 30px !important;
			border: none !important;
			background: transparent !important;
		}

		form{
			&.login{
				border-color: $border_color;
				@include border-radius(0);
			}
			&.checkout_coupon{
				border-color: $border_color;
				@include border-radius(0);
			}
		}
		#order_review_heading{
			margin: 30px 0 20px;
		}

		.woo-cart-title{ margin-bottom: 25px;}

		#payment{
			background: transparent;
			padding: 0;
			margin: 70px 0 0 0;
			@include border-radius(0);

			ul.payment_methods{
				border-bottom: 0;
			}

			#place_order{
				float: left;
			}
		}
	}

	form {
		.form-row{
			padding: 0;
			margin: 0 0 10px 0;
		}
	}

	table.shop_table{
		border: 0;
		margin: 0;
		padding: 0;
		@include border-radius(0);

		thead{
			background: #f7f7f7;
			text-transform: uppercase;
		}

		tfoot{
			td{
				font-weight: 400;
				border-top: 0;
			}
		}

		&.woocommerce-checkout-review-order-table{
			tr{
				th, td{
					padding: 20px 0;
					&:first-child{
						width: 80%;
						padding-left: 30px;
						color: $title_color;
					}
					&:last-child{
						color: $primary_color;
					}

				}
				&.order-total{
					background: #f9f9f9;
				}
			}
			tbody{
				tr{
					&:first-child{
						td{
							border-top: 0;
						}
					}
				}
			}
		}
	}

	/* Widget style */
	ul.product_list_widget{
		li{
			a{
				font-weight: inherit;
			}
		}
	}
}
