<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"foldery-main","layout":{"type":"constrained"}} -->
<main class="wp-block-group foldery-main">
    <!-- wp:heading {"level":1} -->
    <h1 class="wp-block-heading">Page introuvable</h1>
    <!-- /wp:heading -->

    <!-- wp:paragraph -->
    <p>Essayez une recherche pour retrouver le contenu.</p>
    <!-- /wp:paragraph -->

    <!-- wp:search {"label":"Recherche","showLabel":false,"buttonText":"Rechercher"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
